@font-face {
  font-family: "mali-light";
  src: url("/WhenTheNightFalls-Landing/assets/fonts/Mali-Light.ttf");
}

@font-face {
  font-family: "mali-regular";
  src: url("/WhenTheNightFalls-Landing/assets/fonts/Mali-Regular.ttf");
}

body {
  font-family: "mali-light","Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.7;
  letter-spacing: 1.2px;
  font-size: 18px;
  color: #fff;
  background-color: #191919;
}

img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
